# Compiled class files
/target/

# IDE-specific files
/.idea/
*.iml

# Maven-specific files
mvnw
mvnw.cmd
.mvn/

# Gradle-specific files
.gradle/
build/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Dependency directories
/bin/
/lib/